.index {

  .player-home {
    video,
    img {
      max-width: 850px;
      width: 100%;
    }
  }

  .home-slider {
    background: hsla(0,0%,100%,.075);
    padding-left: 100px;
    padding-right: 100px;
    h4 {
      font-size: 1rem;
      text-align: center;
    }
    
    .slick-next:before {
      content: "▶︎";
      font-size: 50px;
      display: block;
      transform: translateY(-40px);
    }
    .slick-prev:before {
      content: "◀︎";
      font-size: 50px;      
      display: block;
      transform: translateX(-55px) translateY(-40px);
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        color: $accent2;
      }
    }
  }
}