

// Layout
#play-content > .row {
  height: calc(100vh - 70px);

  & > div {
    height: 100%;
  }
}
.user-payment,
.user-info {
  @media (max-width: 767px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

#chat-container {
  transition: right 0.5s;

  &:before {
    display: none;

    @media (max-width: 767px) {
      background: url(/images/chat2.svg) no-repeat;
      background-size: 30px 40px;
      display: block;
      content: "Chat";
      color: transparent;
      position: absolute;
      left: -27px;
      top: 57px;
      padding: 10px 15px 4px;
      background-color: white;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  @media (max-width: 767px) {
    position: absolute;
    right: -66.6666%;
  }

  &.chat-active {
    @media (max-width: 767px) {
      right: -15px;
    }
  }
}

#paypal-container {
  transition: right 0.5s;

  &:before {
    display: none;
    font-family: 'Hind', sans-serif;

    @media (max-width: 767px) {
      background: url(/images/money.svg) no-repeat;
      background-size: 30px 31px;
      background-position: 0px 5px;
      display: block;
      content: "Chat";
      color: transparent;
      position: absolute;
      left: -27px;
      top: 100px;
      padding: 10px 15px 4px;
      background-color: white;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  @media (max-width: 767px) {
    position: absolute;
    right: -33.3333%;
  }

  &.paypal-active {
    @media (max-width: 767px) {
      right: -15px;
      //background-color: white;
    }
  }
}

// Player
.play-video-container-wrapper {
  #play-toggle {
    float: right;
  }

  @media (max-width: 767px) {
    padding-right: 0;
    padding-left: 0;
  }
}

#player-video {
  width: 100%;
}

// PayPal
iframe {
  border: none;
}