

// Layout
#play-content > .row {
  height: calc(100vh - 70px);

  & > div {
    height: 99%;
  }
}
.user-payment,
.user-info {
  @media (max-width: 767px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

// Player
.play-video-container-wrapper {
  #play-toggle {
    float: right;
  }

  @media (max-width: 767px) {
    padding-right: 0;
    padding-left: 0;
  }
}

#player-video,
#fcplayer_wrapper {
  width: 100%!important;
  height: auto!important;
}

// PayPal
iframe {
  border: none;
}
.paypal {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.paypal-amount-minus,
.paypal-amount-plus {
  font-size: 30px;
  padding: 0 10px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .paypal-amount-minus,
  .paypal-amount-plus {
    display: none;
  }
}

#paypal-amount {
  font-size: 30px;
  transform: translateY(1px);
  width: 50px;
}

.paypal > div {
  display: inline-block;
}

.paypal .paypal-dollar-sign {
  font-size: 20px;
}

.payment-log {
  ul {
    margin-top: 1rem;
    padding-left: 1rem;
  }
}