#play-content,
#play-content > div,
#chat-content {
  height: 100%;
}

#chat-content {
  width: 100%;
  background-color: white;
  height: calc(100% - 130px);
  overflow: auto;

  #chat-area {
    padding: 1rem;
  }

  #chat-input {
    position: absolute;
    bottom: 0;
    width: calc(100% - 1rem);
  }

  p {
    color: black!important;

    &.current-user {
      text-align: right;
    }
  } 
}