#play-content,
#play-content > div,
#chat-content {
  height: 100%;
}

.profile #chat-content {
  height: 300px;
}

#chat-content {
  width: 100%;
  background-color: white;
  height: calc(100% - 130px);
  overflow: auto;

  @media (max-width: 767px) {
    background-color: rgba(255,255,255,0.5);
  }

  #chat-area {
    padding: 1rem;
  }

  #chat-input {
    position: absolute;
    bottom: 0;
    width: calc(100% - 1rem);
  }

  p {
    color: black!important;

    &.current-user {
      text-align: right;
    }
  } 
}

#chat-container {
  transition: right 0.5s;

  &:before {
    display: none;

    @media (max-width: 767px) {
      background: url(/images/chat2.svg) no-repeat;
      background-size: 30px 40px;
      display: block;
      content: "Chat";
      color: transparent;
      position: absolute;
      left: -28px;
      top: 57px;
      padding: 10px 0px 4px;
      background-color: rgba(255, 255, 255, 0.5);
      border-top-left-radius: 10px;
      cursor: pointer;
      border-bottom-left-radius: 10px;
    }
  }

  @media (max-width: 767px) {
    position: absolute;
    right: -91.6666%;
  }

  &.chat-active {
    @media (max-width: 767px) {
      right: -15px;
    }
  }
}