#paypal-container {
  transition: right 0.5s;

  &:before {
    display: none;
    font-family: 'Hind', sans-serif;

    @media (max-width: 767px) {
      background: url(/images/money.svg) no-repeat;
      background-size: 30px 31px;
      background-position: 0px 5px;
      display: block;
      content: "Chat";
      color: transparent;
      position: absolute;
      left: -28px;
      top: 100px;
      padding: 10px 0 4px;
      background-color: rgba(255, 255, 255, 0.5);
      border-top-left-radius: 10px;
      cursor: pointer;
      border-bottom-left-radius: 10px;
    }
  }

  @media (max-width: 767px) {
    position: absolute;
    right: -91.6666%;
  }

  &.paypal-active {
    @media (max-width: 767px) {
      right: -15px;
      //background-color: white;
    }
  }
}

.user-payment {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);

  p {
    color: black;
  }
}