@import "./vars";
@import "./typography";
@import "./layout";

@import "./buttons";
@import "./forms";

@import "./nav";
@import "./chat";
@import "./footer";
@import "./user-payment";
@import "./slick";

@import "./pages/username";
@import "./pages/login";
@import "./pages/index";
@import "./pages/profile";

// Greg's experiments

html {
  background: #171717;
}
body {
  background: linear-gradient(to bottom, #30c9cdff, #330d69ff);
  height: 100%;
}
#__next {
  background: url(/images/bg2.png);
}

nav {
  background: none!important;
}
h1, p, h2, label {
  color: white
}
a {
  color: $base2!important;
}
.alert-dismissible {
  background: $base2;
}
